# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [3]:
census = pd.read_csv('census_data.csv')

In [5]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [10]:
census['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [13]:
def label_fix(label):
    if label ==' <=50K':
        return 0
    else:
        return 1

In [15]:
census['income_bracket'] =census['income_bracket'].apply(label_fix)

In [18]:
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [22]:
from sklearn.model_selection import train_test_split

In [25]:
x_data = census.drop('income_bracket',axis =1)

In [26]:
y_labels = census['income_bracket']

In [49]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.33, random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [28]:
census.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [29]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [33]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender",['Female','Male'])

In [36]:
occupation = tf.feature_column.categorical_column_with_hash_bucket('occupation',hash_bucket_size=1000)

In [42]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass',hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket('education',hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status',hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket('relationship',hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket('native_country',hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [39]:
age = tf.feature_column.numeric_column("age")

In [58]:
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [59]:
feat_cols = [age, workclass, education, education_num, marital_status,occupation, relationship,gender, capital_gain,capital_loss, hours_per_week, native_country]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [60]:
input_func = tf.estimator.inputs.pandas_input_fn(x =X_train,y = y_train,batch_size = 100,num_epochs =None,shuffle =True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [61]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\USER\AppData\Local\Temp\tmp744x312d
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\USER\\AppData\\Local\\Temp\\tmp744x312d', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000011D3E657A58>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [62]:
model.train(input_fn=input_func,steps =5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From c:\users\user\appdata\local\programs\python\python36\lib\site-packages\tensorflow\python\training\monitored_session.py:804: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\USER\AppData\Local\Temp\tmp744x312d\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 119.995
INFO:tensorflow:loss = 105.548706, step = 101 (0.836 sec)
INFO:tensorflow:global_step/sec: 313.336
INFO:tensorflow:loss = 91.101555, step = 201 (0.318 sec)
INFO:tensorflow:global_step/sec: 321.369
INFO:tensorflow:loss = 141.07858, step = 301 (0.312 sec)
INFO:tensorflow:global_step/sec: 311.388
INFO:tensorflow:loss = 488.53616, step = 401 (0.321 sec)
INFO:tensorflow:global_step/sec: 320.344
INFO:tensorflow:loss = 1064.2317, step = 501 (0.312 sec)
INFO:tensorflow:global_step/sec: 317.299
INFO:tensorflow:loss = 657.1472, step = 601 (0.315 sec)
INFO:tensorflow:global_step/sec: 308.516
INFO:tensorflow:loss = 103.43343, step = 701 (0.325 sec)
INFO:tensorflow:global_step/sec: 317.3
INFO:tensorflow:loss = 40.23669, step = 801 (0.313 sec)
INFO:tensorflow:global_step/sec: 320.343
INFO:tensorflow:loss = 42.819847, step = 901 (0.313 sec)
INFO:tensorflow:global_step/sec: 318.31
INFO:tensorflow:loss = 217.68967, step = 1001 (0.314 sec)
INFO:tensorflow:global_step/sec: 313.334
INFO:tensorflow:loss = 124.97423, step = 1101 (0.318 sec)
INFO:tensorflow:global_step/sec: 314.317
INFO:tensorflow:loss = 66.80691, step = 1201 (0.319 sec)
INFO:tensorflow:global_step/sec: 314.317
INFO:tensorflow:loss = 209.15761, step = 1301 (0.318 sec)
INFO:tensorflow:global_step/sec: 318.309
INFO:tensorflow:loss = 49.34374, step = 1401 (0.311 sec)
INFO:tensorflow:global_step/sec: 310.424
INFO:tensorflow:loss = 49.13067, step = 1501 (0.325 sec)
INFO:tensorflow:global_step/sec: 315.306
INFO:tensorflow:loss = 300.2855, step = 1601 (0.317 sec)
INFO:tensorflow:global_step/sec: 310.425
INFO:tensorflow:loss = 77.29278, step = 1701 (0.321 sec)
INFO:tensorflow:global_step/sec: 313.335
INFO:tensorflow:loss = 118.8888, step = 1801 (0.320 sec)
INFO:tensorflow:global_step/sec: 318.31
INFO:tensorflow:loss = 107.50981, step = 1901 (0.314 sec)
INFO:tensorflow:global_step/sec: 311.388
INFO:tensorflow:loss = 134.71834, step = 2001 (0.321 sec)
INFO:tensorflow:global_step/sec: 312.359
INFO:tensorflow:loss = 102.69084, step = 2101 (0.320 sec)
INFO:tensorflow:global_step/sec: 313.336
INFO:tensorflow:loss = 48.433926, step = 2201 (0.318 sec)
INFO:tensorflow:global_step/sec: 316.3
INFO:tensorflow:loss = 48.394203, step = 2301 (0.317 sec)
INFO:tensorflow:global_step/sec: 307.568
INFO:tensorflow:loss = 31.874924, step = 2401 (0.325 sec)
INFO:tensorflow:global_step/sec: 312.359
INFO:tensorflow:loss = 52.48148, step = 2501 (0.319 sec)
INFO:tensorflow:global_step/sec: 314.317
INFO:tensorflow:loss = 136.55054, step = 2601 (0.318 sec)
INFO:tensorflow:global_step/sec: 312.359
INFO:tensorflow:loss = 110.628105, step = 2701 (0.320 sec)
INFO:tensorflow:global_step/sec: 316.302
INFO:tensorflow:loss = 210.40833, step = 2801 (0.316 sec)
INFO:tensorflow:global_step/sec: 315.305
INFO:tensorflow:loss = 32.954857, step = 2901 (0.318 sec)
INFO:tensorflow:global_step/sec: 310.425
INFO:tensorflow:loss = 30.48394, step = 3001 (0.322 sec)
INFO:tensorflow:global_step/sec: 314.318
INFO:tensorflow:loss = 32.321857, step = 3101 (0.317 sec)
INFO:tensorflow:global_step/sec: 317.301
INFO:tensorflow:loss = 35.935074, step = 3201 (0.316 sec)
INFO:tensorflow:global_step/sec: 189.9
INFO:tensorflow:loss = 38.936974, step = 3301 (0.527 sec)
INFO:tensorflow:global_step/sec: 311.389
INFO:tensorflow:loss = 55.789734, step = 3401 (0.321 sec)
INFO:tensorflow:global_step/sec: 320.342
INFO:tensorflow:loss = 38.578094, step = 3501 (0.312 sec)
INFO:tensorflow:global_step/sec: 237.038
INFO:tensorflow:loss = 41.310665, step = 3601 (0.425 sec)
INFO:tensorflow:global_step/sec: 304.764
INFO:tensorflow:loss = 51.93805, step = 3701 (0.325 sec)
INFO:tensorflow:global_step/sec: 306.628
INFO:tensorflow:loss = 39.48911, step = 3801 (0.326 sec)
INFO:tensorflow:global_step/sec: 317.301
INFO:tensorflow:loss = 45.328064, step = 3901 (0.315 sec)
INFO:tensorflow:global_step/sec: 319.321
INFO:tensorflow:loss = 42.067844, step = 4001 (0.313 sec)
INFO:tensorflow:global_step/sec: 313.336
INFO:tensorflow:loss = 80.86157, step = 4101 (0.318 sec)
INFO:tensorflow:global_step/sec: 310.425
INFO:tensorflow:loss = 66.3924, step = 4201 (0.323 sec)
INFO:tensorflow:global_step/sec: 313.333
INFO:tensorflow:loss = 53.11279, step = 4301 (0.319 sec)
INFO:tensorflow:global_step/sec: 309.469
INFO:tensorflow:loss = 130.68132, step = 4401 (0.322 sec)
INFO:tensorflow:global_step/sec: 310.424
INFO:tensorflow:loss = 41.63627, step = 4501 (0.323 sec)
INFO:tensorflow:global_step/sec: 311.39
INFO:tensorflow:loss = 91.29503, step = 4601 (0.320 sec)
INFO:tensorflow:global_step/sec: 316.3
INFO:tensorflow:loss = 90.14656, step = 4701 (0.316 sec)
INFO:tensorflow:global_step/sec: 302.922
INFO:tensorflow:loss = 34.01806, step = 4801 (0.331 sec)
INFO:tensorflow:global_step/sec: 316.3
INFO:tensorflow:loss = 37.733437, step = 4901 (0.317 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\USER\AppData\Local\Temp\tmp744x312d\model.ckpt.
INFO:tensorflow:Loss for final step: 26.842634.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [70]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x = X_test,batch_size = len(X_test),shuffle = False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [71]:
pred_gen = model.predict(input_fn=pred_fn)

In [72]:
predictions = list(pred_gen)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\USER\AppData\Local\Temp\tmp744x312d\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [74]:
final_preds= [pred['class_ids'][0] for pred in predictions]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [75]:
from sklearn.metrics import classification_report

In [76]:
print(classification_report(y_test,final_preds))

             precision    recall  f1-score   support

          0       0.86      0.93      0.90      8161
          1       0.71      0.54      0.61      2585

avg / total       0.83      0.84      0.83     10746

# Great Job!